$microSettings: (prefix: '', columns: 12, gutter: 5px), ();

@function micro-settings($prefix: "") {
	$settings: "";
	@for $i from 1 through length($microSettings) {
		@if map-get(nth($microSettings, $i), prefix) == $prefix {
			$settings: nth($microSettings, $i);
		}
	}
	
	@if $settings == "" {
		@error "Settings for prefix \"#{$prefix}\" not found. Please call Micro mixin first.";
	}
	@return $settings;
}

@mixin micro-settings-set($settings) {
	$saved: false;
	@for $i from 1 through length($microSettings) {
		@if map-get(nth($microSettings, $i), prefix) == map-get($settings, prefix) {
			$microSettings: set-nth($microSettings, $i, $settings) !global;
			$saved: true;
		}
	}
	@if $saved == false {
		$microSettings: append($microSettings, $settings) !global;
	}
}

@mixin micro($columns, $gutter, $includeClasses: true, $prefix: "") {
	@include micro-settings-set((prefix: $prefix, columns: $columns, gutter: $gutter));
	
	#{if($includeClasses, "%#{$prefix}row, .#{$prefix}row", "%#{$prefix}row")} {
		margin-bottom: $gutter * 2;
		overflow: auto;
	}
	
	@for $i from 1 through $columns {
		#{if($includeClasses, "%#{$prefix}columns-#{$i}, .#{$prefix}columns-#{$i}", "%#{$prefix}columns-#{$i}")} {
			@include micro-columns($i, $prefix);
		}
	}
	@for $i from 1 through $columns - 1 {
		#{if($includeClasses, "%#{$prefix}column-offset-#{$i}, .#{$prefix}column-offset-#{$i}", "%#{$prefix}column-offset-#{$i}")} {
			@include micro-column-offset($i, $prefix);
		}
	}
}

@mixin micro-columns($columns, $prefix: "") {
	$settings: micro-settings($prefix);
	@if $settings != "" {
		$columnWidth: 100% / map-get($settings, columns);
		$gutter: map-get($settings, gutter);
		
		float: left;
		width: calc(#{$columns * $columnWidth} - #{$gutter * 2});
		margin-right: map-get($settings, gutter);
		margin-left: map-get($settings, gutter);
	}
}

@mixin micro-column-offset($columns, $prefix: "") {
	$settings: micro-settings($prefix);
	@if $settings != "" {
		$columnWidth: 100% / map-get($settings, columns);
		$gutter: map-get($settings, gutter);
		
		margin-left: calc(#{$columns * $columnWidth} + #{$gutter});
	}
}